{% load staticfiles %}{% spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
            <title>address book</title>
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}
        <!-- Bootstrap 3.3.4 -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'bootstrap/css/bootstrap-treeview.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css">
    </head>
    {% block body %}
        <body>
        <div class="container">
            <div class="row">
                <br>
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input id="searchText" type="text" class="form-control input-lg" placeholder="Search"/>
                            <span class="input-group-btn">
                        <button id="search" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg-9">
            <table id="contactTable" class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">last name</th>
                    <th scope="col">address</th>
                    <th scope="col">telephone</th>
                    <th scope="col">tags</th>
                    <th scope="col">urls</th>
                    <th scope="col">delete</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="wrapper">
                        <img hidden id="avatar" src="#" alt="please, upload photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tabbable">
            <div class="well tab-content">
                <div class="tab-pane active" id="post-object-form">
                    <form id="saveForm" action="/api/contacts/" method="POST" enctype="multipart/form-data" class="form-horizontal"
                          novalidate="" >
                         <input type="hidden" name="_method" value="put" />
                        <fieldset>
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="1Cnch2RXUNnojwICqi7u2gb8TAWDwYlGYpjyplMzLGyp52v76oJwB6pwRMpmxuL3">
                            <fieldset>
                                <div class="form-group" style="border-bottom: 1px solid #e5e5e5">
                                    <legend class="control-label col-sm-5 " style="border-bottom: 0">
                                        Change contact
                                    </legend>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        City
                                    </label>
                                    <div class="col-sm-10">
                                        <input id="city" name="address.city" class="form-control" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        Country
                                    </label>
                                    <div class="col-sm-10">
                                        <input id="country" name="address.country" class="form-control" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        Street
                                    </label>
                                    <div class="col-sm-10">
                                        <input id="street" name="address.street" class="form-control" type="text" value="">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Tags
                                </label>
                                <div class="col-sm-10">
                                    <textarea id="tags" name="tags" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Name
                                </label>
                                <div class="col-sm-10">
                                    <input id="name" name="name" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Last name
                                </label>
                                <div class="col-sm-10">
                                    <input id="last_name" name="last_name" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Image
                                </label>
                                <div class="col-sm-10">
                                    <input name="image" type="file" value="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Telephone
                                </label>
                                <div class="col-sm-10">
                                    <input id="telephone" name="telephone" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Url
                                </label>
                                <div class="col-sm-10">
                                    <input id="url" name="url" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" title="Save">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                </div>
            </div>
        </div>
         <div class="col-lg-6">
            <div class="tabbable">
            <div class="well tab-content">
                <div class="tab-pane active" id="post-object-form">
                    <form id="createForm" action="/api/contacts/" method="POST" enctype="multipart/form-data" class="form-horizontal"
                          novalidate="" >
                         <input type="hidden" name="_method" value="put" />
                        <fieldset>
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="1Cnch2RXUNnojwICqi7u2gb8TAWDwYlGYpjyplMzLGyp52v76oJwB6pwRMpmxuL3">
                            <fieldset>
                                <div class="form-group" style="border-bottom: 1px solid #e5e5e5">
                                    <legend class="control-label col-sm-5 " style="border-bottom: 0">
                                        Create new instance
                                    </legend>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        City
                                    </label>
                                    <div class="col-sm-10">
                                        <input name="address.city" class="form-control" type="text" value="" placeholder="Kharkiv">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        Country
                                    </label>
                                    <div class="col-sm-10">
                                        <input name="address.country" class="form-control" type="text" value="" placeholder="Ukraine">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label ">
                                        Street
                                    </label>
                                    <div class="col-sm-10">
                                        <input name="address.street" class="form-control" type="text" value="" placeholder="Street">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Tags
                                </label>
                                <div class="col-sm-10">
                                    <textarea name="tags" class="form-control" placeholder='tag, second_tag'></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Name
                                </label>
                                <div class="col-sm-10">
                                    <input name="name" class="form-control" type="text" value="" placeholder="Ivan">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Last name
                                </label>
                                <div class="col-sm-10">
                                    <input name="last_name" class="form-control" type="text" value="" placeholder="Ivanov">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Image
                                </label>
                                <div class="col-sm-10">
                                    <input name="image" type="file" value="">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Telephone
                                </label>
                                <div class="col-sm-10">
                                    <input name="telephone" class="form-control" type="text" value="" placeholder="+380509369992">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-2 control-label ">
                                    Url
                                </label>
                                <div class="col-sm-10">
                                    <input name="url" class="form-control" type="text" value="" placeholder="google.com">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" title="Create new contact">Create</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                </div>
            </div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
        </body>
    {% endblock %}
    </html>{% endspaceless %}
